{% extends "listApp/base.html" %}
{% block content %}
	<br />
	<div class="content-section">
		<h1 style="font-family: Designer Block"> Delete Element</h1>
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<h2>Are you sure you want to delete the element named "{{ element.name }}"?</h2>
				<div class="form-group">
					<button class="btn btn-outline-danger">Delete Element</button>
					<a class="btn btn-outline-info" href="{% url 'element-detail' element.id %}">Cancel</a>
				</div>
			</fieldset>
		</form>
	</div>
{% endblock content %}