{% extends "listApp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<br />
	<div class="content-section">
	  <div class="media">
	    <div class="media-body">
	      <h1 style="font-family: Designer Block"> {{ user.username }}</h1>
	      <p class="text-secondary">Email adress: {{ user.email }}</p>
	    </div>
	  </div>
	  <br />
	  <form method="POST">
		{% csrf_token %}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4"><h3 style="font-family: Designer Block"> Update Profile Informations</h3></legend>
			{{ u_form | crispy }}
			<div class="form-group">
				<button class="btn btn-outline-info">Update Profile</button>
			</div>
		</fieldset>
	  </form>
	</div>
{% endblock content %}